.App {
    text-align: center;
  }

.Body{
    background: url("Chili.jpg");
    background-repeat: round;
    background-size: auto;
    background-size:650px ;
} 
*{
    margin: auto;

}

.Header{
    max-width: 20%;
    display: flex;
    justify-content: space-around;
    text-align: center;
  
}

.CardBody{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}